* {
  box-sizing: border-box;
}

.nav {
  grid-area: n;
    width: 80px;
  flex-direction: column;
  background: #f8f9fb;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 10002;
}


.item a:active {
  color: white;
  text-decoration: none;
}

a[className="activeLink"] {
  color: gold;
}

.activeLink {
  color: gold;
}

.item a{
  margin-bottom: 20px;
  text-decoration: none;
}

.panel_block {
  background-color: #383a45;
  background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
  width: 80px;
  height: 80px;
  display: block;
}

.logo {
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}