.nav {
  grid-area: n;
  background-color: aqua;
}

.nav__logo img{
  width: 80px;
  height: 80px;
}

.item a:active{
  color: white;
  text-decoration: none;
}

a[className="active"]{
  color: gold;
}

Link {
  padding: 10px;
}