* {
  box-sizing: border-box;
}
 
.profile_info {
  width: auto;
}

.container__header_img {
  height: 300px;
  overflow: hidden;
  width: auto;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.header_img {
  width: 100%;
  min-height: 300px;
  height: auto;
  position: relative;
  top: -120px;
  display: block;
} 

.avatarBlock {
  background-color: white;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  top: -75px;
  margin-bottom: 20px;
  height: 150px;
}

.imgContainer {
  position: relative;
  top: -55%;
}

.userPhoto {
  width: 150px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  margin: auto;
  box-shadow: 0 5px 20px rgb(58 46 68 / 25%);
  display: block;
  text-align: center;
}

.imgContainer h3 {
  display: block;
  text-align: center;
}

.descripsionBlock {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  top: -50px;
  margin-bottom: 50px;
}