* {
  box-sizing: border-box;
}

.container__header_img {
  height: 300px;
  overflow: hidden;
}

.header_img {
  width: auto;
  position: relative;
  top: -120px;
}

.avaDescripsionBlock {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  position: relative;
  top: -50px;
}