* {
    box-sizing: border-box;
}

.item {
    color: #626C72;
    margin: 10px 20px;
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 14px;
}

.imgPost {
    float: left;
    margin-right: 10px;
    height: auto;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.postWithoutImg {
    float: none;
    overflow: auto;
}

.message {
    padding: 15px 0;
    border-bottom: 1px solid #e7edf2;
    width: 100%;
    float: none;
    overflow: auto;
}

.likesCount {
    padding: 15px 0;
    border-bottom: 1px solid #e7edf2;
    float: none;
    overflow: auto;
}